<script>
    L2Dwidget.init({
        "pluginRootPath": "{{site.baseurl}}/static/live2dw/",
        "pluginJsPath": "lib/",
        "pluginModelPath": "assets/",
        "tagMode": false,
        "debug": false,
        "model": {
            "jsonPath": "{{site.baseurl}}/static/live2dw/assets/shizuku.model.json"
        },
        "display": {
            "position": "right",
            "width": 300,
            "height": 900
        },
        "mobile": {
            "show": false
        },
        "log": false
    });
</script>