<header class="header">
  <img class="logo" src="{{ site.baseurl }}/static/img/logo.jpg" />
  {% if site.extTimeis %}
  <a href="https://time.is/Beijing" id="time_is_link" rel="nofollow" 
  style="font-size:18px">北京时间:</a>
  <span id="Beijing_z43d" style="font-size:18px"></span>
  <script src="//widget.time.is/t.js"></script>
  <script>
  time_is_widget.init({Beijing_z43d:{}});
  </script>
  {% endif %}
  <nav class="menu">
    {% for menu in site.menu -%}
    <a href="{{ site.baseurl }}{{ menu.url }}" class="hover-underline">{{ menu.title }}</a>
    {% endfor -%}
  </nav>
</header>
